{% extends 'templates/homepage.html.twig' %}

{% block content %}
    <h1>Homepage.</h1>
    <ul>
        <li>
            <a href="{{ url(fos_user_security_login) }}"
        </li>
    </ul>
{% endblock %}
