{% extends 'base.html.twig' %}

{% block nav %}
    {{ render(url('parts_nav')) }}
{% endblock %}
{% block content %}
    <div id="app">

    </div>
{% endblock %}
{% block footer %}
    {{ render(url('parts_footer')) }}
{% endblock %}